<header>
    <button id="menu-button">&#x2630</button>
    <nav id="ourmenuoptions" class="menuoptionnone">
        <button id="close-button">x</button><br>
        <div id="menuMyFace"> MyFace </div> <br>
        <a id="menuPosts" href="/posts">Posts</a> <br>
        <a id="menuUsers"href="/users">Users</a> <br>
        <a id="menuNewPosts" href="/posts/create"">+ New Post</a>   
    </nav>
    <nav id="ourmenuoptions" class="menuoptionpc">
        <button id="close-button">x</button>
        <div id="menuMyFace"> MyFace </div>
        <a id="menuPosts" href="/posts">Posts</a>
        <a id="menuUsers"href="/users">Users</a>
        <a id="menuNewPosts" href="/posts/create"">+ New Post</a>   
    </nav>
</header>