<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create User</h1>
<form method="post" required action="/users/create">
    <label>
        Name:
        <input type="text" required name="name"/>
    </label>
    <br>
    <p></p>
    <label>
        Username:
        <input type="text" required name="username"/>
    </label>
    <br>
    <p></p>
    <label>
        Email:
        <input type="email" required name="email"/>
    </label>
    <br>
    <p></p>
    <label>
        ProfileImageUrl:
        <input type="text" required name="profileImageUrl"/>
    </label>
    <br>
    <p></p>
    <label>
        CoverImageUrl:
        <input type="text" required name="coverImageUrl"/>
    </label>
    <br>
    <p></p>
    <button type="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>